	<!-- Bower Components -->
	<script src="bower_components/threejs/build/three.min.js"></script>
	<script src="bower_components/lodash/dist/lodash.min.js"></script>
	<script src="bower_components/requirejs/require.js"></script>
	<script src="bower_components/createjs-tweenjs/lib/tweenjs-0.5.1.min.js"></script>

	<!-- Other Dependencies -->
	<script src="lib/OrbitControls.js"></script>
	<script src="lib/Stats.js"></script>

	<!-- The Game -->
	<script src="js/view.js"></script>
	<script src="js/map.js"></script>
	<script src="js/character.js"></script>

	<script>

		view = new Quest.View(document.body, {
			width: window.innerWidth,
			height: window.innerHeight
		});
		map = new Quest.Map();
		hero = new Quest.Character();

		view.loadMap(map);
		view.loadCharacter(hero);
		view.animate();

	</script>